body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: #fff;
}

.videos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

video {
    width: 45%;
    background: #000;
    border: 2px solid #444;
    border-radius: 10px;
}

